/*Google Captcha Responsive Changes CSS*/
@media screen and (max-width: 575px) {
    #rc-imageselect, .g-recaptcha {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        padding-left:0;
    }
}
@media screen and (min-width: 1200px){
.g-recaptcha.col-md-offset-2.col-xs-12 {
    margin-left: 139px;
    margin-top: -30px;
}
}