<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ASHI.Customer.CatalogServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="mail" type="ASHI.Common.Mail.MailConfigSectionHandler"/>
    <section name="log" type="CSC.CRF.Trading.Utilities.Logging.LogConfigSectionHandler,CSC.CRF.Trading.Utilities.Logging"/>
  </configSections>
  <mail domain="smtp.codero.com" sender="info@avalonsolution.com"/>
  <log exceptionMailingList="info@avalonsolution.com" enabled="true"/>
  <applicationSettings>
    <ASHI.Customer.CatalogServices.Properties.Settings>
      <setting name="ASHI_Customer_CatalogServices_CatalogService_CatalogService" serializeAs="String">
        <value>http://localhost:3416/CatalogServices/CatalogService.asmx</value>
      </setting>
    </ASHI.Customer.CatalogServices.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="contactUsMailFrom" value="avalontester2@gmail.com" />

    <add key="contactUsMailFromName" value="Avalon Solution" />


    <add key="contactUsNoteTo" value="avalontester2@gmail.com" />

    <add key="contactUsNoteCC" value="avalontester2@gmail.com" />

   
    <!-- Feedback mail setting-->

    <add key="feedbackMailFrom" value="avalontester1@gmail.com" />

    <add key="feedbackMailFromName" value="Avalon Solution" />

    <add key="feedbackNoteTo" value="avalontester1@gmail.com" />
    <!-- Sign Up mail setting-->

    <add key="signUpMailFrom" value="avalontester1@gmail.com" />

    <add key="signUpMailFromName" value="Avalon Solution" />

    <!--<add key="signUpNoteTo" value="sales@avalonsolution.com" />-->
    <add key="DesignTemplateName" value="avalonsolution"/>
    <add key="web_root" value="http://localhost:49936/"/>
    <add key="contactUsMailFrom" value="avalontester2@gmail.com"/>
    <add key="customerservice" value="avalontester2@gmail.com"/>
    <add key="IsSendEmail" value="N"/>
    <add key="SMTPServerName" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="mailRequiredLogin" value="Y"/>
    <add key="mailUser" value="avalontester1@gmail.com"/>
    <add key="mailUserPassword" value="ASHISRGEMS"/>
    <add key="httpPath" value="http://geoip1.maxmind.com/b?l=CCRTa7qlocGt"/>
    <add key="itemImagePath" value="http://idocollection.com/itemimages/"/>
    <add key="UTubePlayListID" value="PLHYNBn30NPG5xAtj6iczUC_BFzg0HJh11"/>
    <add key="GoogleAPIKey" value="ABQIAAAAtB96OFyfHncPwP7DSTDNgxSt9HTCA2QpfCtFMJdcdGjl4-eLzhQTfIK2MQi5Lg0fy9a8QqttOpRncw"/>
    <add key="com.ashidiamonds.service.SalesmanDataAccessService" value="http://service.ashidiamonds.com/SalesmanDataAccessService.asmx"/>
    <!--<add key="web_global_company_name" value="I Do Collection"/>
    <add key="web_global_company_name1" value="Valentines and Holiday Collection"/>-->
    <add key="FacebookUrl" value="http://www.facebook.com/eMotionDiamonds"/>
    <add key="PinterestUrl" value="http://www.pinterest.com/emotiondiamonds/emotion-diamonds/"/>
    <add key="TwitterUrl" value="http://twitter.com/emotiondiamonds"/>
    <add key="GoogleplusUrl" value="http://plus.google.com/107170008622369764740/posts"/>
    <add key="InstagramUrl" value="http://instagram.com/emotiondiamonds?ref=badge"/>

    <add key="SMTPServerName" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="mailRequiredLogin" value="Y"/>
   <add key="mailUser" value="avalontester1@gmail.com" />
      <add key="mailUserPassword" value="AVALONQATEAM1" />
    <!--<add key="reCaptchaSiteKey" value="6Lf0xh0TAAAAAC2tQRJNk3vb5oeOF4RX6JcF5AXg" />-->
    <!--<add key="reCaptchaSiteKey" value="6Ld8SxwTAAAAAO9nETOwbciXJRCKpqTDjGTb59yE" />-->
    <add key="reCaptchaSecretKey" value="6LfgECETAAAAAAnwJmVUqfl0fEWTrnWtx_ow-Ynh" />


  </appSettings>
  <connectionStrings>
    <remove name="Customer"/>
    <add name="Customer" connectionString="Data Source=68.168.106.155;Initial Catalog=db_avalonsolutionmkt;User Id=avalonsolutionmkt;Password=avalon2016;"/>
  </connectionStrings>
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="90" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <!--<customErrors mode="On" defaultRedirect="404Page">
      <error statusCode="404" redirect="~/404Error.aspx"/>
    </customErrors>-->





    <profile defaultProvider="Customer_ProfileProvider" enabled="true">
      <providers>
        <add name="Customer_ProfileProvider" connectionStringName="Customer" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </providers>
      <properties>
        <add name="CustId" type="Int64"/>
        <add name="CustType" type="String"/>
        <add name="DOB" type="String"/>
        <add name="AnniversaryDate" type="String"/>
        <add name="MaritalStatus" type="String"/>
        <add name="Gender" type="String"/>
        <add name="Category" type="String"/>
        <add name="CustNotes" type="String"/>
        <add name="Title" type="String"/>
        <add name="FirstName" type="String"/>
        <add name="LastName" type="String"/>
        <add name="RecvNews" type="String"/>
        <add name="RecvNotification" type="String"/>
        <group name="Address">
          <add name="Address1" type="String"/>
          <add name="Address2" type="String"/>
          <add name="Zip" type="String"/>
          <add name="City" type="String"/>
          <add name="State" type="String"/>
          <add name="DayPhoneAreaCode" type="String"/>
          <add name="DayPhone1" type="String"/>
          <add name="DayPhone2" type="String"/>
          <add name="DayPhoneExtn" type="String"/>
          <add name="NightPhoneAreaCode" type="String"/>
          <add name="NightPhone1" type="String"/>
          <add name="NightPhone2" type="String"/>
          <add name="NightPhoneExtn" type="String"/>
          <add name="MobileAreaCode" type="String"/>
          <add name="MobilePhone1" type="String"/>
          <add name="MobilePhone2" type="String"/>
        </group>
        <add name="Status" type="String"/>
        <add name="Source" type="String"/>
      </properties>
    </profile>
    <machineKey validationKey="282487E295028E59B8F411ACB689CCD6F39DDD21E6055A3EE480424315994760ADF21B580D8587DB675FA02F79167413044E25309CCCDB647174D5B3D0DD9141" decryptionKey="8B6697227CBCA902B1A0925D40FAA00B353F2DF4359D2099" validation="SHA1"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="amitagnihotri@ashisrgems.com">
        <network host="192.168.1.52" port="2525" userName="amitagnihotri@ashisrgems.com" password="Ashi123" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
  
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
   
  </system.webServer>
  <system.webServer>

  </system.webServer>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>

      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>